* {
    margin: 0;


}

body {
    font-family: 'Quicksand', sans-serif; 
    background-color: #ADDBE2;



}

.header {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: #C7EEDF ;
}

.header-title {
    text-align: center;


}
.header-content {
    background-image: linear-gradient(to bottom, #C7EEDF, #ADDBE2)

}

.pictures {
    width: 20%;
    border-radius: 20%;
    display: block;    
    margin: 0 auto;
}

.purple-text {
    color: #772448;



}

.links {
    text-decoration: none;
    color: #7563EC ;
    font-weight: 900;
}

.highlight {
    color: #0A100D;
    font-weight: 900;

}

li:nth-child(1) {
    background-color: color-mix(in srgb, #34c9eb 10%, white);
  }
  
  li:nth-child(2) {
    background-color: color-mix(in srgb, #34c9eb 40%, white);
  }
  
  li:nth-child(3) {
    background-color: color-mix(in srgb, #34c9eb 70%, white);
  }

