* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  background: linear-gradient(to right top, #6320EE, #8075FF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-card {
  display: flex;
  flex-flow: row nowrap;
  height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 10%;
  box-shadow: 0px 0px 50px 10px

}

.right-section {
    width: 60%;
    

}